.container .rcontant .ccontant .ReceivedRequestReplaySupervisors {
    outline: 5px double gold;
    margin: 20px auto;
    border-radius: 20px;
    overflow: hidden;
}

    /*---Header---*/

    .container .rcontant .ccontant .ReceivedRequestReplaySupervisors .ReceivedRequestReplaySupervisorsHeader {
        height: 100px;
    }

        .container .rcontant .ccontant .ReceivedRequestReplaySupervisors .ReceivedRequestReplaySupervisorsHeader a h2 {
            color: gold;
            text-align: center;
            line-height: 100px;
        }

    /*---Contant---*/

    .container .rcontant .ccontant .ReceivedRequestReplaySupervisors .ReceivedRequestReplaySupervisorsContant {
        min-height: 500px;
        background-color: gold;
    }

        .container .rcontant .ccontant .ReceivedRequestReplaySupervisors .ReceivedRequestReplaySupervisorsContant .row .cl {
            min-height: 100px;
            padding-top: 30px;
            padding-bottom: 30px;
        }

            .container .rcontant .ccontant .ReceivedRequestReplaySupervisors .ReceivedRequestReplaySupervisorsContant .row .cl h4 {
                text-align: right;
            }


            .container .rcontant .ccontant .ReceivedRequestReplaySupervisors .ReceivedRequestReplaySupervisorsContant .row .cl .ReceivedRequestReplaySupervisorsContantInput {
                width: 250px;
                height: 40px;
                outline: 2px double black;
                border-radius: 15px;
                text-align: center;
                border: 0px;
                background-color: black;
                color: gold;
                margin: auto;
            }

                .container .rcontant .ccontant .ReceivedRequestReplaySupervisors .ReceivedRequestReplaySupervisorsContant .row .cl .ReceivedRequestReplaySupervisorsContantInput:hover {
                    width: 251px;
                    height: 41px;
                    box-shadow: 0px 0px 10px 2px black;
                }

            .container .rcontant .ccontant .ReceivedRequestReplaySupervisors .ReceivedRequestReplaySupervisorsContant .row .cl .ReceivedRequestReplaySupervisorsContantBigLabel {
                width: 100%;
                min-height: 200px;
                outline: 2px double black;
                border-radius: 15px;
                text-align: right;
                direction: rtl;
                padding: 10px 5px;
                border: 0px;
                background-color: black;
                color: gold;
                display: inline-block;
            }

            .container .rcontant .ccontant .ReceivedRequestReplaySupervisors .ReceivedRequestReplaySupervisorsContant .row .cl .ReceivedRequestReplaySupervisorsContantBigInput {
                width: 100%;
                min-height: 200px;
                outline: 2px double black;
                border-radius: 15px;
                text-align: right;
                direction: rtl;
                padding: 10px 5px;
                border: 0px;
                background-color: black;
                color: gold;
            }

                .container .rcontant .ccontant .ReceivedRequestReplaySupervisors .ReceivedRequestReplaySupervisorsContant .row .cl .ReceivedRequestReplaySupervisorsContantBigInput:hover {
                    box-shadow: 0px 0px 10px 2px black;
                }

    /*---Footer---*/

    .container .rcontant .ccontant .ReceivedRequestReplaySupervisors .ReceivedRequestReplaySupervisorsFooter {
        min-height: 100px;
    }

        .container .rcontant .ccontant .ReceivedRequestReplaySupervisors .ReceivedRequestReplaySupervisorsFooter .row .col-sm-6 {
            min-height: 100px;
            padding-top: 30px;
            padding-bottom: 30px;
            color: gold;
        }

            .container .rcontant .ccontant .ReceivedRequestReplaySupervisors .ReceivedRequestReplaySupervisorsFooter .row .col-sm-6 .ReceivedRequestReplaySupervisorsFooterBTN {
                height: 40px;
                width: 115px;
                margin: 5px;
                background-color: gold;
                color: black;
                border-radius: 15px;
                border-color: gold;
            }

                .container .rcontant .ccontant .ReceivedRequestReplaySupervisors .ReceivedRequestReplaySupervisorsFooter .row .col-sm-6 .ReceivedRequestReplaySupervisorsFooterBTN:hover {
                    height: 42px;
                    width: 117px;
                    box-shadow: 0px 0px 10px 2px gold;
                }
