.container .rcontant .ccontant .ChangePasseordManagement {
    outline: 5px double gold;
    margin: 20px auto;
    border-radius: 20px;
    overflow: hidden;
}

    /*--Header---*/

    .container .rcontant .ccontant .ChangePasseordManagement .ChangePasseordManagementHeader {
        height: 100px;
    }

        .container .rcontant .ccontant .ChangePasseordManagement .ChangePasseordManagementHeader a h2 {
            color: gold;
            text-align: center;
            line-height: 100px;
        }

    /*Contant*/

    .container .rcontant .ccontant .ChangePasseordManagement .ChangePasseordManagementContant {
        min-height: 500px;
        background-color: gold;
    }

        .container .rcontant .ccontant .ChangePasseordManagement .ChangePasseordManagementContant .row .cl {
            min-height: 100px;
            padding-top: 30px;
            padding-bottom: 30px;
        }

            .container .rcontant .ccontant .ChangePasseordManagement .ChangePasseordManagementContant .row .cl h4 {
                text-align: right;
            }

            .container .rcontant .ccontant .ChangePasseordManagement .ChangePasseordManagementContant .row .cl .ChangePasseordManagementContantInput {
                width: 250px;
                height: 40px;
                outline: 2px double black;
                border-radius: 15px;
                text-align: center;
                border: 0px;
                background-color: black;
                color: gold;
                margin: auto;
            }

                .container .rcontant .ccontant .ChangePasseordManagement .ChangePasseordManagementContant .row .cl .ChangePasseordManagementContantInput:hover {
                    width: 251px;
                    height: 41px;
                    box-shadow: 0px 0px 10px 2px black;
                }

    /*---Footer---*/

    .container .rcontant .ccontant .ChangePasseordManagement .ChangePasseordManagementFooter {
        min-height: 100px;
    }

        .container .rcontant .ccontant .ChangePasseordManagement .ChangePasseordManagementFooter .row .col-sm-6 {
            min-height: 100px;
            padding-top: 30px;
            padding-bottom: 30px;
            color: gold;
        }

            .container .rcontant .ccontant .ChangePasseordManagement .ChangePasseordManagementFooter .row .col-sm-6 .ChangePasseordManagementFooterBTN {
                height: 40px;
                width: 115px;
                margin: 5px;
                background-color: gold;
                color: black;
                border-radius: 15px;
                border-color: gold;
            }

                .container .rcontant .ccontant .ChangePasseordManagement .ChangePasseordManagementFooter .row .col-sm-6 .ChangePasseordManagementFooterBTN:hover {
                    height: 42px;
                    width: 117px;
                    box-shadow: 0px 0px 10px 2px gold;
                }
